<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} - Audio Ocelot</title>
    {% else %}
        <title>Audio Ocelot</title>
    {% endif %}

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- noUiSlider -- >
    <link rel="stylesheet" href="{{ url_for('static', filename='nouislider.min.css') }}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body role="document">

{% block content %}{% endblock %}
</body>
</html>