
<form id="response-form-record" action="{{ url_for('upload') }}" method=post enctype=multipart/form-data hidden>
<input type="hidden" name="features" value="" id="features-input-record">
    <h3>Is this the correct genre?</h3>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="yesRadio-record" value="yes" checked>
            Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="noRadio-record" value="no">
            No
        </label>
    </div>

    <div id="select-genre-record" hidden>
        <label for="genre-selector-record">Choose the correct genre</label>
        <select class="form-control" name="genre-select" id="genre-selector-record">
            <option value="classical">Classical</option>
            <option value="country">Country</option>
            <option value="electronic">Electronic</option>
            <option value="hip hop">Hip Hop</option>
            <option value="jazz">Jazz</option>
            <option value="metal">Metal</option>
            <option value="reggae">Reggae</option>
            <option value="rock">Rock</option>
        </select>
    </div>
    <button id="submit-response-form-record" type="submit" class="ripple">Submit</button>
</form>

<h3 hidden id="thanks-text-record">Thanks for the feedback!<br>Your input helps make Ocelot even smarter!</h3>