
<form id="response-form" action="{{ url_for('upload') }}" method=post enctype=multipart/form-data hidden>
<input type="hidden" name="features" value="" id="features-input">
    <h3>Is this the correct genre?</h3>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="yesRadio" value="yes" checked>
            Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="noRadio" value="no">
            No
        </label>
    </div>

    <div class="select-genre" hidden>
        <label for="genre-select">Choose the correct genre</label>
        <select class="form-control" name="genre-select" id="genre-selector">
            <option value="classical">Classical</option>
            <option value="country">Country</option>
            <option value="electronic">Electronic</option>
            <option value="hip hop">Hip Hop</option>
            <option value="jazz">Jazz</option>
            <option value="metal">Metal</option>
            <option value="reggae">Reggae</option>
            <option value="rock">Rock</option>
        </select>
    </div>
    <button id="submit-response-form" type="submit" class="ripple">Submit</button>
</form>

<h3 hidden class="thanks-text">Thanks for your input!</h3>