{% extends "base.html" %}
{% block content %}
    {# Content goes here #}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome...</h1>
        </div>
    </div>
    <div class="container">
        <div class="">
            <h3>Upload Song</h3>
            <form id="audio-upload" action="{{ url_for('upload') }}" method=POST enctype=multipart/form-data>
                <input id="audio-file-input" type=file name="audio">
                <button id="submit-audio-upload" type="submit">Upload</button>
            </form>
            <h3 id="fileIsUploaded"></h3>
        </div>
        <div class="">
            <h3>Record 20 second music clip</h3>
            <button id="recordButton" onclick="startRecording(this);">record</button>
            <div class="progress progress-striped">
                <div class="progress-bar" style="width: 0%;">
                </div>
            </div>
            <h3 id="isUploaded"></h3>
        </div>
    </div>
    <div class="">
        <ul id="recordingsList">

        </ul>
    </div>

    {# Page specific js files  #}
    <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio-capture.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload-song.js') }}"></script>
{% endblock %}